<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemical Kinetics Calculations</title>
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/navbar.css">

     <link rel="stylesheet" href="\stylesheets\footer.css">
     <link rel="stylesheet" href="\stylesheets\fluidflow.css">
     <script>
        // Function to apply dark mode based on user preference from Local Storage
        function applyDarkModeFromStorage() {
          var isDarkMode = localStorage.getItem('darkMode') === 'true';
          var body = document.body;
      
          if (isDarkMode) {
            body.classList.add('dark-mode');
          } else {
            body.classList.remove('dark-mode');
          }
        }
      
        // Apply dark mode when the page loads
        document.addEventListener('DOMContentLoaded', function() {
          applyDarkModeFromStorage();
        });
      </script>
</head>
<body class="d-flex flex-column h-100 size">
    <header>
        <%- include('navbar.ejs') %>
    </header>
    <main>
      <section class="section-list">
        <div class="container px-4 ">
          <h1 class="heading-primary mx-md-n5"> Chemical Kinetics</h1>
          <p class="heading-description col-12 col-xxl-8">
            Calculation for rate law determination, rate of reaction, half life etc.
          </p>

          <div class="row g-5" data-masonry='{"percentPosition": true }'>
            <!-- Col Starts -->
            <div class="col-md-6 col-lg-4">
              <div class="card shadow">
                <p class="list-title">Rate Law Determination</p>
                <ul class="list-group list-group-flush">
                  <a href="rateconstant" class="list-group-item list-group-item-action list-group-item-light">
                    Rate constant
                  </a>

                  <a href="fluid_flow_single_phase.html" class="list-group-item list-group-item-action list-group-item-light">
                    Order of the reaction
                  </a>
                  <a href="fluid_flow_compressible.html" class="list-group-item list-group-item-action list-group-item-light">
                    Half life
                  </a>                 
                </ul>
              </div>
            </div>
            <!-- Col Ends -->

            <!-- Col Starts -->
            <div class="col-md-6 col-lg-4">
              <div class="card shadow">
                <p class="list-title">Others</p>
                <ul class="list-group list-group-flush">
                  <a href="calc/pump.html" class="list-group-item list-group-item-action list-group-item-light">
                    Activation Energy
                  </a>
                  <a href="solved/pumpOp.html" class="list-group-item list-group-item-action list-group-item-light">
                    Rate Determining Step Identification
                  </a>
                  <a href="solved/pumpCurve.html" class="list-group-item list-group-item-action list-group-item-light">
                    Collision Frequency
                  </a>
                  <a href="solved/pumpCurve.html" class="list-group-item list-group-item-action list-group-item-light">
                    Reaction Order from Initial Rates
                  </a>
                  <a href="solved/pumpCurve.html" class="list-group-item list-group-item-action list-group-item-light">
                    Pressure and Concentration Dependence
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('footer.ejs') %>
    <script src="/javascripts/app.js"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
    crossorigin="anonymous"
    async
  ></script>
</body>
</html>
