<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checalc</title>
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer>
      <div class="container">
        <p>&copy; 2024 Checalc. All rights reserved.</p>
      </div>
    </footer>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
