<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checalc</title>
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

</head>
<body>
    <section class="parallax"> 
  <!-- Navigation Bar -->
  <nav class="navbar" id="navbar">
    <div class="container navcontainer">
      <h1>Checalc</h1>
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="index" onclick="scrollToExplore()">Explore</a></li>
        <li><a href="#" id="dark-mode-button" onclick="toggleDarkMode()" class="box-behind">CAL</a></li>  
      </ul>
    </div>
  </nav>
  <script src="/javascripts/app.js"></script>

</body>
</html>